/*********navbar**********/

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}


/*********hero**********/

.hero_text {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 53px;
    line-height: 71px;
    color: #000000;
}

.hero_p {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #000000;
}

.herooo {
    top: 50%;
    left: 10%;
    position: absolute;
}


/*********section 1 in shop  **********/

.btn-over {
    position: relative;
    text-align: center;
    color: white;
}

.btn-over>div {
    top: 80%;
    left: 10%;
    position: absolute;
}

.btn-over>img {
    width: 367px;
    height: 375px;
}

.btn-over img:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}


/*********section 2 . 3 **********/

.tx_over_2 {
    position: relative;
    text-align: center;
    color: white;
}

.tx_over_2>div {
    top: 50%;
    left: 10%;
    position: absolute;
}

.tx_over_2>img {
    -webkit-filter: blur(0);
    filter: blur(0);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    object-fit: cover;
    width: 750px;
    height: 519px;
}

.tx_over_2 img:hover {
    -webkit-filter: blur(2px);
    filter: blur(2px);
}

.p70 {
    bottom: 0%;
    left: 80%;
    font-weight: 800;
    font-size: 72px;
    line-height: 85px;
    align-items: center;
}


/*********section 4 **********/

.tx_over_3>h1 {
    top: 30%;
    left: 30%;
    position: absolute;
    color: white;
}

.tx_over_3>img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.tx_over_3 img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.btn_item {
    background: #25313C;
    border-radius: 5px;
    width: 352px;
    font-size: 16px;
    color: white;
    align-items: center;
    text-align: center;
}

.img-responsive {
    width: 352px;
}


/*********end  4 *******/

.items_dis {
    border: 2px solid #0069D9;
    border-radius: 25px;
}

.price_after {
    text-decoration-line: line-through;
}

.price {
    color: #0069D9;
    font-size: 20px;
}


/*********login  *******/

.tx_over_item {
    height: 375px;
}